@model List<Message>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Mail</th>
                <th scope="col">Content</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var value in Model)
            {
            <tr>
                <td>@value.MessageId</td>
                <td>@value.Name</td>
                <td>@value.Mail</td>
                <td>@value.Content</td>
                <td>@value.Date</td>
                <td>@value.Status</td>
                <td>
                    <div class="d-flex justify-content-md-start">
                        <a href="/Contact/ContactDetails/@value.MessageId" class="btn btn-success mr-2">Show</a>
                        <form action="/Contact/DeleteMessage/@value.MessageId" method="post">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this experience?')">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>